root = true

[*]
ij_continuation_indent_size = 4

[{*.kt,*.kts}]
ktlint_code_style = ktlint_official
ktlint_standard_package-name = disabled
ktlint_standard_final-newline = disabled
ktlint_standard_no-wildcard-imports = disabled
